<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Quản lý bán hàng</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--base css styles-->
    <link rel="stylesheet" href="~/Content/flaty/assets/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--page specific css styles-->
    <!--flaty css styles-->
    <link href="~/Content/plugins/w2ui/w2ui-1.5.rc1.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/flaty/css/flaty.css">
    <link rel="stylesheet" href="~/Content/flaty/css/flaty-responsive.css">
    <link rel="shortcut icon" href="~/Content/flaty/img/favicon.html">
    <link href="~/Content/css/framework.css" rel="stylesheet" />
    <link href="~/Content/plugins/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/Layout.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    @using TB.MvcWeb.Extensions
    @Html.AqViewBag()
    @RenderSection("scripts", false)

    <script src="/Content/plugins/requirejs/require.js"></script>
    <script>
        require(['/Content/js/require.config.js'], function () {
            require(['jquery', 'jqueryUIDiaglogExtend', 'flatyScript', 'jqueryCookie', 'jquerySlimscroll', 'bootstrap', 'noty', 'notyLayoutTopRight'], function () {
                require(['framework'], function () {
                        @RenderSection("PageMainModule", false)
                });
            });
        });
    </script>
    @RenderSection("styles", false)
    
</body>
</html>
