@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    TB.Domain.EntityModel.User LoginUser = Session["LoginUser"] as TB.Domain.EntityModel.User;
    DateTime LoginDate = (DateTime)Session["LoginDate"];
}
@section scripts{
    @if (true)
    {
        WriteTo(new StringWriter(), RenderSection("scripts", false));
    }
}
@section styles{
    @if (true)
    {
        WriteTo(new StringWriter(), RenderSection("styles", false));
    }
}
@section PageMainModule{
    @RenderSection("PageMainModule", false)
}
<div class="skin-black">
    <!-- BEGIN Navbar -->
    <div id="navbar" class="navbar">
        <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
            <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="#">
            <small>
                <i style="font-size:1.5em" class="fa fa-rocket"></i>
                Hệ thống bán lẻ
            </small>
        </a>
        <ul class="nav flaty-nav navbar-collapse collapse" >
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "POS" ? "active" : "")"><a href="/DonHang/POS"><i class="fa-television"></i>&nbsp;<span>POS</span></a></li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ThanhToanDonHang" ? "active" : "")"><a href="/DonHang/DonHangManagement/ThanhToanDonHang"><i class="fa-credit-card"></i>&nbsp;<span>Thanh toán Đơn hàng</span></a></li>

            <li class="user-profile pull-right">
                <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                    <img class="nav-user-photo" src="~/Content/flaty/img/demo/avatar/avatar2.jpg" alt="Penny's Photo" />
                    <span class="hhh" id="user_info">
                        Xin chào!
                        @if (LoginUser.ThongTinNguoiDung != null)
                        {
                            @LoginUser.ThongTinNguoiDung.HoTen
                        }
                        else
                        {
                            @LoginUser.Username
                        }
                    </span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <!-- BEGIN User Dropdown -->
                <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                    <li class="nav-header">
                        <i class="fa fa-clock-o"></i> Đăng nhập lúc @LoginDate.ToString("hh:mm")
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cog"></i> Tùy chỉnh
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user"></i> Thông tin cá nhân
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-question"></i> Trợ giúp
                        </a>
                    </li>
                    <li class="divider visible-xs"></li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-tasks"></i> Tasks
                            <span class="badge badge-warning">4</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-bell"></i> Notifications
                            <span class="badge badge-important">8</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-envelope"></i> Messages
                            <span class="badge badge-success">5</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/Security/Authorize/SignOut">
                            <i class="fa fa-off"></i> Đăng xuất
                        </a>
                    </li>
                </ul>
                <!-- BEGIN User Dropdown -->
            </li>

        </ul>
    </div>
    <!-- END Navbar -->
    <!-- BEGIN Container -->
    <div class="container" id="main-container">
        <!-- BEGIN Sidebar -->
        <div id="sidebar" class="navbar-collapse collapse">
            <!-- BEGIN Navlist -->
            <ul class="nav nav-list">
                <!-- BEGIN Search Form -->
                <li>
                    <form target="#" method="GET" class="search-form">
                        <span class="search-pan">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input type="text" name="search" placeholder="Search ..." autocomplete="off" />
                        </span>
                    </form>
                </li>
                <!-- END Search Form -->
                    <li@{
                    switch (ViewContext.RouteData.Values["Action"].ToString()) {
                        case "ListUser":
                        case "ListThongTinNguoiDung":
                        case "ListQuan":
                        case "ListTinhThanhPho":
                            @:class ="active";
                            break;
                        }  
                       }>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>Quản lí người dùng</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>
                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListUser" ? "active" : "")">
                                <a href="@Url.Action("ListUser", "UserManagement", new { Area = "User"})">
                                    <i class="fa fa-lock"></i>
                                    <span>Tài khoản người dùng</span>
                                </a>

                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListThongTinNguoiDung" ? "active" : "")">
                                <a href="@Url.Action("ListThongTinNguoiDung", "ThongTinNguoiDungManagement", new { Area = "User"})">
                                    <i class="fa fa-lock"></i>
                                    <span>Thông tin người dùng</span>
                                </a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListQuan" ? "active" : "")">
                                <a href="@Url.Action("ListQuan", "QuanManagement", new { Area = "Quan"})">
                                    <i class="fa fa-lock"></i>
                                    <span>Quận/Huyện</span>
                                </a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListTinhThanhPho" ? "active" : "")">
                                <a href="@Url.Action("ListTinhThanhPho", "TinhThanhPhoManagement", new { Area = "TinhThanhPho"})">
                                    <i class="fa fa-lock"></i>
                                    <span>Tỉnh/Thành phố</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END Submenu -->
                        </li>
                        <li@{
                    switch (ViewContext.RouteData.Values["Action"].ToString()) {
                        case "ListHangHoa":
                        case "ListNhaCungCap":
                        case "ListLoaiHangHoa":
                            @:class ="active" ;
                                                                break; } }>
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-desktop"></i>
                                <span>Quản lí Hàng hóa</span>
                                <b class="arrow fa fa-angle-right"></b>
                            </a>
                            <!-- BEGIN Submenu -->
                            <ul class="submenu">
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListHangHoa" ? "active" : "")">
                                    <a href="@Url.Action("ListHangHoa", "HangHoaManagement", new { Area = "HangHoa" })">
                                        <i class="fa fa-lock"></i>
                                        <span>Hàng hóa</span>
                                    </a>

                                </li>
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListNhaCungCap" ? "active" : "")">
                                    <a href="@Url.Action("ListNhaCungCap", "NhaCungCapManagement", new { Area = "NhaCungCap" })">
                                        <i class="fa fa-lock"></i>
                                        <span>Nhà cung cấp</span>
                                    </a>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListLoaiHangHoa" ? "active" : "")">
                                    <a href="@Url.Action("ListLoaiHangHoa", "LoaiHangHoaManagement", new { Area = "LoaiHangHoa" })">
                                        <i class="fa fa-lock"></i>
                                        <span>Loại Hàng hóa</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- END Submenu -->
                            <li@{
                    switch (ViewContext.RouteData.Values["Action"].ToString()) {
                        case "ListDonHang":
                        case "ListHoaDon":
                            @:class ="active" ;
                                                                                                    break; } }>
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-desktop"></i>
                                    <span>Quản lí Đơn hàng</span>
                                    <b class="arrow fa fa-angle-right"></b>
                                </a>
                                <!-- BEGIN Submenu -->
                                <ul class="submenu">
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListDonHang" ? "active" : "")">
                                        <a href="@Url.Action("ListDonHang", "DonHangManagement", new { Area = "DonHang" })">
                                            <i class="fa fa-lock"></i>
                                            <span>Đơn hàng</span>
                                        </a>

                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListHoaDon" ? "active" : "")">
                                        <a href="@Url.Action("ListHoaDon", "HoaDonManagement", new { Area = "DonHang" })">
                                            <i class="fa fa-lock"></i>
                                            <span>Hóa đơn</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- END Submenu -->
</ul>
            <!-- END Navlist -->
            <!-- BEGIN Sidebar Collapse Button -->
            <div id="sidebar-collapse" class="visible-lg">
                <i class="fa fa-angle-double-left"></i>
            </div>
            <!-- END Sidebar Collapse Button -->
        </div>
        <!-- END Sidebar -->
        <!-- BEGIN Content -->
        <div id="main-content" class="full-width">
            <!-- BEGIN Main Content -->
            @RenderBody()
            <!-- END Main Content -->
            @*<footer>
                    <p>2013 © FLATY Admin Template.</p>
                </footer>*@
            <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
        </div>
        <!-- END Content -->
    </div>
    <!-- END Container -->
</div>
