@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    TB.Domain.EntityModel.User LoginUser = Session["LoginUser"] as TB.Domain.EntityModel.User;
    DateTime LoginDate = (DateTime)Session["LoginDate"];
}
@section scripts{
    @if (true)
    {
        WriteTo(new StringWriter(), RenderSection("scripts", false));
    }
}
@section styles{
    @if (true)
    {
        WriteTo(new StringWriter(), RenderSection("styles", false));
    }
}
@section PageMainModule{
    @RenderSection("PageMainModule", false)
}
<div class="skin-black">
    <!-- BEGIN Navbar -->
    <div id="navbar" class="navbar">
        <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
            <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="#">
            <small>
                <i style="font-size:1.5em" class="fa fa-rocket"></i>
                Hệ thống bán lẻ
            </small>
        </a>
        <!-- BEGIN Navbar Buttons -->
        <ul class="nav flaty-nav pull-right">
            <!-- BEGIN Button Tasks -->
            <li class="hidden-xs">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-tasks"></i>
                    <span class="badge badge-warning">4</span>
                </a>
                <!-- BEGIN Tasks Dropdown -->
                <ul class="dropdown-navbar dropdown-menu">
                    <li class="nav-header">
                        <i class="fa fa-check"></i> 4 Tasks to complete
                    </li>
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">Software Update</span>
                                <span class="pull-right">75%</span>
                            </div>
                            <div class="progress progress-mini">
                                <div style="width:75%" class="progress-bar progress-bar-warning"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">Transfer To New Server</span>
                                <span class="pull-right">45%</span>
                            </div>
                            <div class="progress progress-mini">
                                <div style="width:45%" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">Bug Fixes</span>
                                <span class="pull-right">20%</span>
                            </div>
                            <div class="progress progress-mini">
                                <div style="width:20%" class="progress-bar"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">Writing Documentation</span>
                                <span class="pull-right">85%</span>
                            </div>
                            <div class="progress progress-mini progress-striped active">
                                <div style="width:85%" class="progress-bar progress-bar-success"></div>
                            </div>
                        </a>
                    </li>
                    <li class="more">
                        <a href="#">See tasks with details</a>
                    </li>
                </ul>
                <!-- END Tasks Dropdown -->
            </li>
            <!-- END Button Tasks -->
            <!-- BEGIN Button Notifications -->
            <li class="hidden-xs">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-important">5</span>
                </a>
                <!-- BEGIN Notifications Dropdown -->
                <ul class="dropdown-navbar dropdown-menu">
                    <li class="nav-header">
                        <i class="fa fa-warning"></i> 5 Notifications
                    </li>
                    <li class="notify">
                        <a href="#">
                            <i class="fa fa-comment orange"></i>
                            <p>New Comments</p>
                            <span class="badge badge-warning">4</span>
                        </a>
                    </li>
                    <li class="notify">
                        <a href="#">
                            <i class="fa fa-twitter blue"></i>
                            <p>New Twitter followers</p>
                            <span class="badge badge-info">7</span>
                        </a>
                    </li>
                    <li class="notify">
                        <a href="#">
                            <img src="~/Content/flaty/img/demo/avatar/avatar2.jpg" alt="Alex" />
                            <p>David would like to become moderator.</p>
                        </a>
                    </li>
                    <li class="notify">
                        <a href="#">
                            <i class="fa fa-bug pink"></i>
                            <p>New bug in program!</p>
                        </a>
                    </li>
                    <li class="notify">
                        <a href="#">
                            <i class="fa fa-shopping-cart green"></i>
                            <p>You have some new orders</p>
                            <span class="badge badge-success">+10</span>
                        </a>
                    </li>
                    <li class="more">
                        <a href="#">See all notifications</a>
                    </li>
                </ul>
                <!-- END Notifications Dropdown -->
            </li>
            <!-- END Button Notifications -->
            <!-- BEGIN Button Messages -->
            <li class="hidden-xs">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-success">3</span>
                </a>
                <!-- BEGIN Messages Dropdown -->
                <ul class="dropdown-navbar dropdown-menu">
                    <li class="nav-header">
                        <i class="fa fa-comments"></i> 3 Messages
                    </li>
                    <li class="msg">
                        <a href="#">
                            <img src="~/Content/flaty/img/demo/avatar/avatar3.jpg" alt="Sarah's Avatar" />
                            <div>
                                <span class="msg-title">Sarah</span>
                                <span class="msg-time">
                                    <i class="fa fa-clock-o"></i><span>a moment ago</span>
                                </span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </a>
                    </li>
                    <li class="msg">
                        <a href="#">
                            <img src="~/Content/flaty/img/demo/avatar/avatar4.jpg" alt="Emma's Avatar" />
                            <div>
                                <span class="msg-title">Emma</span>
                                <span class="msg-time">
                                    <i class="fa fa-clock-o"></i><span>2 Days ago</span>
                                </span>
                            </div>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ...</p>
                        </a>
                    </li>
                    <li class="msg">
                        <a href="#">
                            <img src="~/Content/flaty/img/demo/avatar/avatar5.jpg" alt="John's Avatar" />
                            <div>
                                <span class="msg-title">John</span>
                                <span class="msg-time">
                                    <i class="fa fa-clock-o"></i><span>8:24 PM</span>
                                </span>
                            </div>
                            <p>Duis aute irure dolor in reprehenderit in ...</p>
                        </a>
                    </li>
                    <li class="more">
                        <a href="#">See all messages</a>
                    </li>
                </ul>
                <!-- END Notifications Dropdown -->
            </li>
            <!-- END Button Messages -->
            <!-- BEGIN Button User -->
            <li class="user-profile">
                <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                    <img class="nav-user-photo" src="~/Content/flaty/img/demo/avatar/avatar2.jpg" alt="Penny's Photo" />
                    <span class="hhh" id="user_info">
                        Xin chào! 
                        @if (LoginUser.ThongTinNguoiDung != null)
                        {
                            @LoginUser.ThongTinNguoiDung.HoTen
                        }
                        else
                        {
                            @LoginUser.Username
                        }
                    </span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <!-- BEGIN User Dropdown -->
                <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                    <li class="nav-header">
                        <i class="fa fa-clock-o"></i> Đăng nhập lúc @LoginDate.ToString("hh:mm")
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cog"></i> Tùy chỉnh
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user"></i> Thông tin cá nhân
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-question"></i> Trợ giúp
                        </a>
                    </li>
                    <li class="divider visible-xs"></li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-tasks"></i> Tasks
                            <span class="badge badge-warning">4</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-bell"></i> Notifications
                            <span class="badge badge-important">8</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-envelope"></i> Messages
                            <span class="badge badge-success">5</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/Security/Authorize/SignOut">
                            <i class="fa fa-off"></i> Đăng xuất
                        </a>
                    </li>
                </ul>
                <!-- BEGIN User Dropdown -->
            </li>
            <!-- END Button User -->
        </ul>
        <!-- END Navbar Buttons -->
    </div>
    <!-- END Navbar -->
    <!-- BEGIN Container -->
    <div class="container" id="main-container">
        <!-- BEGIN Sidebar -->
        <div id="sidebar" class="navbar-collapse collapse">
            <!-- BEGIN Navlist -->
            <ul class="nav nav-list">
                <!-- BEGIN Search Form -->
                <li>
                    <form target="#" method="GET" class="search-form">
                        <span class="search-pan">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input type="text" name="search" placeholder="Search ..." autocomplete="off" />
                        </span>
                    </form>
                </li>
                <!-- END Search Form -->
                @*<li class="active">
                        <a href="~/Content/flaty/index-2.html">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>*@
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListHangHoa" ? "active" : "")">
                    <a href="@Url.Action("ListHangHoa", "HangHoaManagement", new { Area = "HangHoa" })">
                        <i class="fa fa-lock"></i>
                        <span>Danh sach hang hoa</span>
                    </a>

                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListLoaiHangHoa" ? "active" : "")">
                    <a href="@Url.Action("ListLoaiHangHoa", "LoaiHangHoaManagement", new { Area = "LoaiHangHoa" })">
                        <i class="fa fa-lock"></i>
                        <span>Danh sach loai hang hoa</span>
                    </a>

                </li>

                <li>
                    <a href="@Url.Action("Index", "HangHoa", new { Area = "HangHoa" })">
                        <i class="fa fa-lock"></i>
                        <span>Test Page</span>
                    </a>
                </li>
    
                    <li@{
                    switch (ViewContext.RouteData.Values["Action"].ToString()) {
                        case "ListUser":
                        case "ListThongTinNguoiDung":
                        case "ListQuan":
                        case "ListTinhThanhPho":
                            @:class ="active";
                            break;
                        }  
                       }>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>Quản lí người dùng</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>
                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListUser" ? "active" : "")">
                                <a href="@Url.Action("ListUser", "UserManagement", new { Area = "User"})">
                                    <i class="fa fa-lock"></i>
                                    <span>Tài khoản người dùng</span>
                                </a>

                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListThongTinNguoiDung" ? "active" : "")">
                                <a href="@Url.Action("ListThongTinNguoiDung", "ThongTinNguoiDungManagement", new { Area = "User"})">
                                    <i class="fa fa-lock"></i>
                                    <span>Thông tin người dùng</span>
                                </a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListQuan" ? "active" : "")">
                                <a href="@Url.Action("ListQuan", "QuanManagement", new { Area = "Quan"})">
                                    <i class="fa fa-lock"></i>
                                    <span>Quận/Huyện</span>
                                </a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListTinhThanhPho" ? "active" : "")">
                                <a href="@Url.Action("ListTinhThanhPho", "TinhThanhPhoManagement", new { Area = "TinhThanhPho"})">
                                    <i class="fa fa-lock"></i>
                                    <span>Tỉnh/Thành phố</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END Submenu -->
                        </li>
                        <li@{
                    switch (ViewContext.RouteData.Values["Action"].ToString()) {
                        case "ListHangHoa":
                        case "ListNhaCungCap":
                        case "ListLoaiHangHoa":
                            @:class ="active" ;
                                                                break; } }>
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-desktop"></i>
                                <span>Quản lí Hàng hóa</span>
                                <b class="arrow fa fa-angle-right"></b>
                            </a>
                            <!-- BEGIN Submenu -->
                            <ul class="submenu">
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListHangHoa" ? "active" : "")">
                                    <a href="@Url.Action("ListHangHoa", "HangHoaManagement", new { Area = "HangHoa" })">
                                        <i class="fa fa-lock"></i>
                                        <span>Hàng hóa</span>
                                    </a>

                                </li>
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListNhaCungCap" ? "active" : "")">
                                    <a href="@Url.Action("ListNhaCungCap", "NhaCungCapManagement", new { Area = "NhaCungCap" })">
                                        <i class="fa fa-lock"></i>
                                        <span>Nhà cung cấp</span>
                                    </a>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListLoaiHangHoa" ? "active" : "")">
                                    <a href="@Url.Action("ListLoaiHangHoa", "LoaiHangHoaManagement", new { Area = "LoaiHangHoa" })">
                                        <i class="fa fa-lock"></i>
                                        <span>Loại Hàng hóa</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- END Submenu -->
                            <li@{
                    switch (ViewContext.RouteData.Values["Action"].ToString()) {
                        case "ListHangHoa":
                        case "ListNhaCungCap":
                        case "ListLoaiHangHoa":
                            @:class ="active" ;
                                                                                                    break; } }>
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-desktop"></i>
                                    <span>Quản lí Hàng hóa</span>
                                    <b class="arrow fa fa-angle-right"></b>
                                </a>
                                <!-- BEGIN Submenu -->
                                <ul class="submenu">
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListHangHoa" ? "active" : "")">
                                        <a href="@Url.Action("ListHangHoa", "HangHoaManagement", new { Area = "HangHoa" })">
                                            <i class="fa fa-lock"></i>
                                            <span>Hàng hóa</span>
                                        </a>

                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListNhaCungCap" ? "active" : "")">
                                        <a href="@Url.Action("ListNhaCungCap", "NhaCungCapManagement", new { Area = "NhaCungCap" })">
                                            <i class="fa fa-lock"></i>
                                            <span>Nhà cung cấp</span>
                                        </a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ListLoaiHangHoa" ? "active" : "")">
                                        <a href="@Url.Action("ListLoaiHangHoa", "LoaiHangHoaManagement", new { Area = "LoaiHangHoa" })">
                                            <i class="fa fa-lock"></i>
                                            <span>Loại Hàng hóa</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- END Submenu -->
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-edit"></i>
                                        <span>Forms</span>
                                        <b class="arrow fa fa-angle-right"></b>
                                    </a>
                                    <!-- BEGIN Submenu -->
                                    <ul class="submenu">
                                        <li><a href="~/Content/flaty/form_layout.html">Layout</a></li>
                                        <li><a href="~/Content/flaty/form_component.html">Component</a></li>
                                        <li><a href="~/Content/flaty/form_wizard.html">Wizard</a></li>
                                        <li><a href="~/Content/flaty/form_validation.html">Validation</a></li>
                                    </ul>
                                    <!-- END Submenu -->
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-list"></i>
                                        <span>Tables</span>
                                        <b class="arrow fa fa-angle-right"></b>
                                    </a>
                                    <!-- BEGIN Submenu -->
                                    <ul class="submenu">
                                        <li><a href="~/Content/flaty/table_basic.html">Basic</a></li>
                                        <li><a href="~/Content/flaty/table_advance.html">Advance</a></li>
                                        <li><a href="~/Content/flaty/table_dynamic.html">Dynamic</a></li>
                                    </ul>
                                    <!-- END Submenu -->
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-globe"></i>
                                        <span>Maps</span>
                                        <b class="arrow fa fa-angle-right"></b>
                                    </a>
                                    <!-- BEGIN Submenu -->
                                    <ul class="submenu">
                                        <li><a href="~/Content/flaty/map_google.html">Google Maps</a></li>
                                        <li><a href="~/Content/flaty/map_vector.html">Vector Maps</a></li>
                                    </ul>
                                    <!-- END Submenu -->
                                </li>
                                <li>
                                    <a href="~/Content/flaty/box.html">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Box</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Content/flaty/calendar.html">
                                        <i class="fa fa-calendar"></i>
                                        <span>Calendar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Content/flaty/gallery.html">
                                        <i class="fa fa-picture-o"></i>
                                        <span>Gallery</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Content/flaty/grid.html">
                                        <i class="fa fa-th"></i>
                                        <span>Griding System</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-file-text-o"></i>
                                        <span>Sample Pages</span>
                                        <b class="arrow fa fa-angle-right"></b>
                                    </a>
                                    <!-- BEGIN Submenu -->
                                    <ul class="submenu">
                                        <li><a href="~/Content/flaty/extra_login.html">Login &amp; Register</a></li>
                                        <li>
                                            <span>Email</span>
                                            <ul>
                                                <li><a href="~/Content/flaty/extra_mail-list.html">Inbox</a></li>
                                                <li><a href="~/Content/flaty/extra_mail-msg.html">Mail Thread</a></li>
                                                <li><a href="~/Content/flaty/extra_mail-compose.html">Compose</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/Content/flaty/extra_profile.html">User Profile</a></li>
                                        <li><a href="~/Content/flaty/extra_invoice.html">Invoice</a></li>
                                        <li><a href="~/Content/flaty/extra_search.html">Search Results</a></li>
                                    </ul>
                                    <!-- END Submenu -->
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-file"></i>
                                        <span>Other Pages</span>
                                        <b class="arrow fa fa-angle-right"></b>
                                    </a>
                                    <!-- BEGIN Submenu -->
                                    <ul class="submenu">
                                        <li><a href="~/Content/flaty/more_blank.html">Blank Page</a></li>
                                        <li><a href="~/Content/flaty/more_full-width.html">Full Width Page</a></li>
                                        <li>
                                            <span>Errors</span>
                                            <ul>
                                                <li><a href="~/Content/flaty/more_error-404.html">Error 404</a></li>
                                                <li><a href="~/Content/flaty/more_error-500.html">Error 500</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/Content/flaty/more_set-skin.html">Skin</a></li>
                                        <li><a href="~/Content/flaty/more_set-sidebar-navbar-color.html">Sidebar &amp; Navbar</a></li>
                                        <li><a href="~/Content/flaty/more_sidebar-collapsed.html">Collapsed Sidebar</a></li>
                                    </ul>
                                    <!-- END Submenu -->
                                </li>
</ul>
            <!-- END Navlist -->
            <!-- BEGIN Sidebar Collapse Button -->
            <div id="sidebar-collapse" class="visible-lg">
                <i class="fa fa-angle-double-left"></i>
            </div>
            <!-- END Sidebar Collapse Button -->
        </div>
        <!-- END Sidebar -->
        <!-- BEGIN Content -->
        <div id="main-content" class="full-width">
            <!-- BEGIN Main Content -->
            @RenderBody()
            <!-- END Main Content -->
            @*<footer>
                    <p>2013 © FLATY Admin Template.</p>
                </footer>*@
            <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
        </div>
        <!-- END Content -->
    </div>
    <!-- END Container -->
</div>
