@model TB.Domain.EntityModel.HangHoa

@{
    ViewBag.Title = "XemChiTiet";
}

@section styles{
    <style>
        img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    </style>
}

@section scripts{
    <script>
        $(document).ready(function () {
            //bỏ code trong đây
        });
        function AddCart (HanghoaId) {
            var seft = this;
            $.ajax({
                type: "POST",
                url: "/Home/AddCart",
                data: { HanghoaId: HanghoaId },
                success: function (data) {
                    alert('Đã thêm vào giỏ hàng');
                    seft.getInfoCart();
                }
            });
        }
        function Buy(HanghoaId){
            AddCart(HanghoaId);
            // Chuyen ve trang Home/CheckOut, javascript t mò ko ra, nên chế luôn 
            document.getElementById('checkOutButton').click();
        }
    </script>
}
<!-- One column content -->
<!-- Product view -->
<a href="~/Home/CheckOut" id="checkOutButton" style="visibility:hidden">
    <a>
        <div class="product-view row">

            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="large-image"> <img alt="#" class="cloudzoom" src="@Model.AnhHangHoas.FirstOrDefault().LinkAnhMini" data-cloudzoom="zoomImage: '@Model.AnhHangHoas.FirstOrDefault().LinkAnh', autoInside : 991"> </div>
                <div class="flexslider flexslider-thumb">
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="previews-list slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                            @foreach (var image in Model.AnhHangHoas)
                            {
                                <li style="width: 76px; float: left; display: block;"><img class="cloudzoom-gallery" alt="#" src="@image.LinkAnhMini" data-cloudzoom="useZoom: '.cloudzoom', image: '@image.LinkAnhMini', zoomImage: '@image.LinkAnh', autoInside : 991" draggable="false"></li>
                            }


                        </ul>
                    </div><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#" tabindex="-1"></a></li><li><a class="flex-next" href="#"></a></li></ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <!-- Product label -->
                <div class="product-label">
                    <div class="box-wrap">
                        <div class="box-wrap-top"></div>
                        <div class="box-wrap-bot"></div>
                        <div class="box-wrap-center"></div>
                        <div class="box">
                            <div class="box-content">
                                <h2>@Model.Ten</h2>
                                <span class="price new">@Convert.ToDouble(Model.GiaBanThamKhao).ToString("N0") vnđ</span> <br>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //end Product label -->
                <!-- Description -->
                <div class="product-description">
                    <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span>
                    <div>
                        <div class="option">
                            <b>Quantity:</b>
                            <div class="input-group quantity-control">
                                <span class="input-group-addon">&minus;</span>
                                <input type="text" class="form-control" value="1">
                                <span class="input-group-addon">+</span>
                            </div>
                        </div>
                        <div class="clearfix visible-xs"></div>
                        <br />
                        <span class="btn btn-mega btn-lg" onclick="AddCart(@Model.HangHoaId)">Thêm vào giỏ hàng</span>
                        <span class="btn btn-mega btn-lg" onclick="Buy(@Model.HangHoaId)">Mua ngay</span>
                    </div>
                </div>
                <!-- //end Description -->

            </div>
        </div>
        <!-- //end Product view -->
        <!-- Tabs -->
        <section class="producttab">
            <div class="tabsslider">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#motaContent">Mô tả</a></li>
                </ul>
                <a href="#" class="carousel-prev"></a><a href="#" class="carousel-next"></a>
            </div>
            <div class="tab-content">
                <div id="motaContent" class="tab-pane fade active in">
                    @MvcHtmlString.Create(Model.MoTa)
                </div>
            </div>
        </section>

        <!-- //end Tabs -->
        <!-- //end Two columns content -->
